

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #333f49;
  color: white;
}
.wrapper {
    font-family:'arial', sans-serif;
}



  #sq_103i:-ms-input-placeholder{
  font-size: 16px;
  line-height: 1.42857143;
  background-image: url("/images/03-TEL.png") !important;
  background-repeat: no-repeat;
  background-position: -2.5% 20%;
  color: #BDBDBD;
  font-weight: 400;
}
#sq_103i:-ms-input-placeholder{
  font-size: 16px;
  line-height: 1.42857143;
  background-image: url("/images/03-TEL.png") !important;
  background-repeat: no-repeat;
  background-position: -2.5% 20%;
  color: #BDBDBD;
  font-weight: 400;
}
 #sq_103i::-webkit-input-placeholder  {
  font-size: 16px;
  line-height: 1.42857143;
  background-image: url("/images/03-TEL.png") !important;
  background-repeat: no-repeat;
  background-position: -2.5% 20%;
  color: #BDBDBD;
  font-weight: 400;
}

#sq_102i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_102i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_102i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_100i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_100i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_100i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/01-PERSONA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}

#sq_101i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/02-MAIL.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_101i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/02-MAIL.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_101i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/02-MAIL.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_108i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_108i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_108i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_110i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_110i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_110i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/04-DOMICILIO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
select {
  font-size: 16px;
  line-height: 1.42857143;
  background-image: url("/images/05-FAMILIA.png") !important;
  background-repeat: no-repeat;
  background-position: -1% 20%;
  color: #BDBDBD;
  font-weight: 400;
}
input[type="number"]#sq_109i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
select#sq_109i {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

option#sq_109i {
    background: transparent        url(http://www.clinicalflow.com/skins/common/icons/ed_ins_img.png)     no-repeat left center;
    padding-left: 20px;
    width: 200px;
}
input[type="number"]#sq_109i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
input[type="number"]#sq_109i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_111i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_111i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_111i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/05-FAMILIA.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_113i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_113i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_113i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
select#sq_114i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
select#sq_114i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
select#sq_114i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_115i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/07-INGRESOS.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_115i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/07-INGRESOS.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_115i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/07-INGRESOS.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_116i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_116i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_116i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_117i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_117i:-ms-input-placeholder{
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}
#sq_117i::-webkit-input-placeholder  {
font-size: 16px;
line-height: 1.42857143;
background-image: url("/images/06-TRABAJO.png") !important;
background-repeat: no-repeat;
background-position: -1% 20%;
color: #BDBDBD;
font-weight: 400;
}

.form-group .form-control {
    margin-bottom: 7px;
    background-color: #fff;
    font-family: "FontAwesome";
    font-family: append($font-family-sans-serif, "FontAwesome", "comma");
}


.sv_complete_btn {
    background-color: #5b8f22;
    border-radius: 10px;
}

.navbar-inverse .navbar-text {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-header{
	margin-bottom: 10px;
}
.logo img{

   display: block;
  margin: 0 auto;
}
img {

    margin-bottom: 6px;
    padding-bottom: 4px;
    vertical-align: middle;

}

.panel-footer {
    background-color: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}


.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear: both;
}
.btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
    content: " ";
    display: table;
}
*::after, *::before {
    box-sizing: border-box;
}
.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #296a34;
    color: white;
    font-family: Helvetica;
}
.navbar.navbar-inverse {
    background-color: #3f51b5;
    color: #ffffff;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    border-radius: 0;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1030;
}
.navbar {
    border-radius: 4px;
}
.panel-body {
    margin-top: 50px;
}
.panel-footer{
	border: none;
	background: none;
}
#surveyContainer {
    margin-top: 0px;
}

.btn.btn-green.sv_complete_btn{

    color:white;
    width: 10%;
    height: 55px;
    font-weight: bold;


}
h5 span{
  visibility: hidden;
}
textarea, input {
  padding:10px;
	font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.form-group {
    padding-bottom: 0px;
    margin: 0px 0 0 0;
}
#sq_100 {
display: inline-block; vertical-align: top; width: 50%; padding-right: 20px;
}


.panel-footer{

     text-align:center;
}
